<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="2 minutes">
    <property name="logger.file.path" value="/Users/ajay.kg/Kgajay/tfs/FirstDemo/log"></property>
    <property name="logger.file.level" value="TRACE"></property>
    <property name="logger.file.name" value="first_demo"></property>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logger.file.level}</level>
        </filter>
        <file>${logger.file.path}/${logger.file.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.file.path}/${logger.file.name}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache" level="INFO"></logger>
    <logger name="javax.management" level="INFO"></logger>
    <logger name="sun" level="INFO"></logger>
    <logger name="com.sun" level="INFO"></logger>
    <logger name="org.springframework" level="INFO"></logger>
    <logger name="org.hibernate" level="INFO"></logger>

    <root level="${logger.file.level}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>